.container {
  height: 100%;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #e9e9e9;
}

.fontType {
  margin-right: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--primary-font-color);
}

.arrowContainer {
  display: inline-block;
  position: relative;
}

.modal {
  position: absolute;
  top: 80%;
  right: 35%;
  list-style-type: none;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 4.313rem 1.5rem 1.5rem;
  z-index: 10;
  background-color: var(--primary-background-color);
}

.modalItem {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-font-color);
}

.modalItem:first-child {
  margin-bottom: 1rem;
}

.modalItem:last-child {
  margin-top: 1rem;
}
